@page
@model IndexModel
@{
    ViewData["Title"] = "Single Room Booking ";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> <a asp-page="/Events/AddEvent">Click Here</a> to book a room</p>
    <p> <a asp-page="/Events/ListEvents">Click Here</a> to view all bookings</p>
</div>
