@page
@model EventBookingwithRazorPages.Pages.Events.AddEventModel
@{
    var message = ViewData["Message"]?.ToString();
}
<form method="post">
<h1>
    Add a booking
</h1>

@if(!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-success mb-3" role="alert">
            @message
        </div>
    }
 
            <script type="text/javascript">
                $(function () {
                    alert("Start date should be less than end date");
                });
            </script>
        
    <div class="mb-3">
    <label class="form-label">Title</label>
        <input type="text" class="form-control" asp-for="AddEventRequest.title" />
</div>
    <div class="mb-3">
        <label class="form-label">Start Date</label>
        <input id="startDate" type="date" class="form-control" asp-for="AddEventRequest.startDateTime" />
        <span asp-validation-for="AddEventRequest.startDateTime" class="text-danger"></span>
</div>
    <div class="mb-3">
        <label class="form-label">End Date Time</label>
        <input id="endDate" type="date" class="form-control" asp-for="AddEventRequest.endDateTime" />
        <span asp-validation-for="AddEventRequest.endDateTime" class="text-danger"></span>
</div>
    <div >
    <button type="submit" class="btn btn-primary mr-3">Add</button>
        <a class="btn btn-primary" asp-page="/Booking/ListBookings">View Bookings</a>
</div>
    
</form>

@*@section  Scripts{
    <script>
        //I use js to allow users to select only the latest date up to yesterday
        function addZero(n) {
            return parseInt(n) >= 10 ? n.toString() : '0' + n;
        }
        let dateNow = new Date(),
            yearNow = dateNow.getFullYear(),
            monthNow = dateNow.getMonth() + 1,
            dayNow = dateNow.getDate() - 1,
            maxDate = yearNow + '-' + addZero(monthNow) + '-' + addZero(dayNow);
        let inp = document.querySelector('#startDate');
        let inp2 = document.querySelector('#endDate');
        inp.setAttribute('max', maxDate);
        inp2.setAttribute('max',maxDate);

    </script>
}*@